
* {
    padding: 0;
    margin: 0;
   font-family: 'Times New Roman';
    box-sizing: border-box;
   
}
#navbar {
    height:60px;
    background-color: black;
    border:10px 10px 10px 10px;
    border-style: solid;
    border-color:white;
    color: white;
}
#logo{
    color:orange;
    font-size:25px;
    
}

button{
    background-color:orange;
    
}
a{
    margin-right:190px;
    text-decoration: none;
}

h1 ,h2{
    text-align: center;
    margin-top: 25px;
    border: 2px outset pink;
    
}

.tab {
    text-align: center;
    width: 50%;
    margin: auto;
    margin-top: 20px;
    box-shadow: 3px 5px 10px rgb(92, 92, 120) ;
}

.par {
    background-color: rgb(189, 90, 90);
    border: 2px solid yellow;
    text-align: justify;
    width: 70%;
    margin: auto;
    margin-top: 20px;
    padding: 10px 10px 10px 10px;
    line-height: 30px;
    box-shadow: 3px 5px 30px blue ;
}
a:visited {
    color: rgb(43, 226, 113);
}

a:link {
    color: beige;
}
a:active{
    color: darkorange;
}
#one {
    height:60px;
    width: 600px;
}
/*<div id="navbar">
        <a href="#" id="logo">amazon.in</a>
        <a href="#">Account</a>
        <a href="#">My cart</a>
        <a href="#">Contact us</a>
        <input placeholder="search Amazon.in">
        <button>Search</button>
        

    </div>
    ---------------------------------------------
     <h1>Flexbox Playground</h1>
    <div id="container">
        <div id="box1">box1</div>
        <div id="box2">box2</div>
        <div id="box3">box3</div>
        <div id="box4">box4</div>
        <div id="box5">box5</div>
    </div>
    ----------------css-style--------------------------
    body{
    text-align:center;
}

div{
    height:50px;
    width:500px;
    display:inline-block;
    border: 2px solid black;
}
#container {
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: display-between;
    align-items: flex-end;
    
}

#box1 {
    background-color:aqua;
}
#box2 {
    background-color: blueviolet;
}
#box3 {
    background-color: palevioletred;
}
#box4 {
    background-color: peru;
}
#box5 {
    background-color: chartreuse;
}
    */